@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto';
    text-align: center;
    background-color: rgba(0, 0, 0, 0.945);
    color: white;
}

div#conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.iten {
    margin: 15px;
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 10px;

    transition-property: transform; 
    transition-duration: 1.5s;  /* Duração da animação */
}

div.iten:hover {
    transform: translate(4px, 4px);
    box-shadow: 1px 1px 20px white;
    width: 420px;
    height: 320px;
}

div#block1 {
    background-image: url(../img/brc.png);   
    background-repeat: no-repeat;
    background-size: cover;
}

div#block2 {
    background-image: url(../img/jsrf.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

div#block3 {
    background-image: url(../img/need\ for\ speed.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

div#block4 {
    background-image: url(../img/veigar-p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#block5 {
    background-image: url(../img/Hipster\ Husky.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}