/* Moto G7 Plus (modo retrato) */
@media (max-width: 360px) {
  body {
    background-color: lightcoral;
    font-size: 14px;
  }
}

/* Moto G7 Plus (modo paisagem) */
@media (max-width: 640px) {
  body {
    background-color: lightseagreen;
    font-size: 16px;
  }
}
